@import url('https://fonts.googleapis.com/css?family=Dancing+Script|EB+Garamond|Hepta+Slab|Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap');

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Zilla Slab', serif;
  text-align: center;
  background-color: #ccffcc;
}

.img {
  width: 20%;
  border-radius: 10%;
}

.bgimg-1, .bgimg-2 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("https://images.unsplash.com/photo-1565118531796-763e5082d113?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  min-height: 110%;
}

.bgimg-2 {
  background-image: url("https://images.unsplash.com/photo-1565118531796-763e5082d113?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  min-height: 200px;
}

.second-caption {
  font-family: 'Dancing Script', cursive;
}

.caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.caption span.border {
  color: #fff;
  padding: 18px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #111;
  font-size: 50px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}

.home-text{
  background-color: #ccffcc;
  padding: 50px 80px;
  font-size: 20px;
}

.smaller-img {
  background-color:transparent;
  font-size:25px;
  color: #f7f7f7;
}

.position-relative {
  position: relative;
}

.header {
  font-size: 100px;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
*/

.homePageTitle {
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 550%;
  display: flex;
  justify-content: center;
}

.slogan {
  font-size: 160%;
  font-family: 'Dancing Script', cursive;
}

.img {
  width: 4%;
}

.description {
  font-size: 110%;
  font-family: 'Hepta Slab', serif;
}

.welcomePage {
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 160%;
  color: white;
  
 -webkit-animation: colorchange 30s infinite; 
    animation: colorchange 30s infinite;
}

@keyframes colorchange {
    0%  {
       background-image:linear-gradient(to right, #F8B195, #F67280, #C06C84,  #6C5B7B, #355C7D );
     }
    25%  {
       background-image:linear-gradient(to right, #205072, #329D96 , #56C596, #7BE495, #CFF4D2 )
    }
    50% {
      background-image:linear-gradient(to right, #cc6600, #ff6699 )
    }
    75%  {
      background-image:linear-gradient(to right, #FE4365, #FC9D9A , #F9CDAD , #C8C8A9, #83AF9B )
    }
    100% {
      background-image:linear-gradient(to right, #003399, #33cc33  )
    }
} 

.welcomePageTitle {
  font-family: 'Zilla Slab Highlight', cursive;
  color: white;
}

.descriptionTwo {
  font-size: 100%;
  color: white;
}

.loginButton {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 13px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.loginButton:hover{
  background-color: black;
  color: white;
}

.input {
  color: white;
}

.addButton {
  text-align: center;
  background-color:white;
  color: black;
  cursor: pointer;
  padding: 10px 5px;
}

.addButton:hover{
  background-color: black;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.myProjects {
  font-size: 120%;
}

